body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/fundo.jpg);
    color: rgb(251, 255, 0);
}

#gamesnake{
    width: 512px;
    height: 512px;
}

.fix{
    position: fixed;
}

.arvore{
    left: 0;
    top: 0;
    width: 400px;
}

.seviper{
    right: 0;
    width: 300px;
    top: 0;
}
/*.left {
    margin: left;
    width: 100%;
    font-size: 30px;
}
.right {
    margin: right;
    width: 100%;
    font-size: 30px;
}
*/

.right {
    text-align: right;
}